$color1: #eff0f3;
$color2: #3f3f3f;
$color3: #000000;

$color-white: $color1;
$color-grey: $color2;
$color-green: $color3;

$color-bg-section: #707070;

$color-bg-footer: #4e4e4e;

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;